#number-projects-nd {
    font-size: 60px;
}

#total-donations-nd {
    font-size: 60px;
}

.dc-chart g.row text {
    fill: black;
    font-size: 12px;
}

.chart-wrapper {
	border:none;
}

.chart-title{
	text-align: center;
}

svg{
	display:block;
	margin:auto;
}
div.dc-chart {
    float: none;
    text-align: center;
}

.number-display{
	font-size: 60px;
}

.animated-gif{
    margin:auto;
}

h1{
    color: #fff;
}

.content h2{
    color: #3399cc;
}

.yellow{
    background:yellow;
}